// Config for running the reference workflow (nf-core/rnaseq, test profile) with
// the BigBrother observer, e.g.:
//   cd test && nextflow run nf-core/rnaseq -r 3.21.0 -profile test,docker --outdir results
plugins {
  id 'nf-bigbrother@0.7.0'
}

bigbrother {
  outputDir    = 'bb_out'
  emitPartials = true
  emitDot      = true
}

dag {
  enabled   = true
  file      = 'abstract-dag.dot'
  overwrite = true
}
