.gradle
.idea
.vscode
.settings

build
work
out
.nextflow*
results

# generated snapshots and graphs
bb_out
*.svg
*.png

# scratch / experiment dirs
scratch-*
old
visualization

# python
__pycache__
*.pyc
